.ColorList {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  margin-top: 1rem;
  overflow-x: scroll;
}

.ColorList__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  font-size: 1.5rem;
  flex: 0 0 auto;
  border-radius: 50%;
  margin: 0 .5rem;
  border: 5px solid transparent;
}

.ColorList__item.active {
  border: 5px solid black;
}